     <!-- Header (Topbar + Navbar) -->
     <header class="cs-header">
  
        <!-- Navbar -->
        <!-- Elimine la clase "navbar-sticky" para hacer que la barra de navegación se pueda desplazar con la página -->
        <div class="navbar navbar-expand-lg navbar-light bg-light navbar-sticky" data-fixed-element>
          <div class="container px-0 px-xl-3">
            <a href="index.html" class="navbar-brand order-lg-1 mr-0 pr-lg-3 mr-lg-4">
              <img src="assets/img/ecommerce/logo.png" alt="DoneDeal Logo" width="130">
            </a>
            <!-- Buscador-->
            <div class="input-group-overlay ml-4 d-lg-block d-none order-lg-3" style="max-width: 21rem;">
              <input class="form-control appended-form-control" type="text" placeholder="Buscar productos...">
              <div class="input-group-append-overlay">
                <span class="input-group-text"><i class="cxi-search lead align-middle"></i></span>
              </div>
            </div>
            <!-- Toolbar -->
            <div class="d-flex align-items-center order-lg-3">
              <ul class="nav nav-tools flex-nowrap">
                
               
               
                <li class="nav-item align-self-center mb-0" *ngIf="user_lc != undefined">
                  <a style="cursor: pointer;" class="nav-tool pr-lg-0" (click)="op_modalcart()">
                    <i class="cxi-cart nav-tool-icon"></i>
                    <span class="badge badge-success align-middle mt-n1 ml-2 px-2 py-1 font-size-xs">{{carrito_arr.length}}</span>
                  </a>
                </li>
                <li class="nav-item align-self-center mb-0" *ngIf="user_lc == undefined">
                  <a style="cursor: pointer;" class="nav-tool pr-lg-0" [routerLink]="['/login']" >
                    <i class="cxi-cart nav-tool-icon"></i>
                    <span class="badge badge-success align-middle mt-n1 ml-2 px-2 py-1 font-size-xs">0</span>
                  </a>
                </li>
                <li class="divider-vertical mb-0 d-lg-block d-none"></li>
                
                  <ng-container *ngIf="user_lc == undefined">
                    <li class="nav-item d-lg-block d-none mb-0">
                      <a [routerLink]="['/login']" class="nav-tool">
                        <i class="cxi-profile nav-tool-icon"></i>
                        <span class="nav-tool-label">Iniciar sesión</span>
                      </a>
                    </li>
                    
                  </ng-container>
                  <ng-container *ngIf="user_lc">
                    <li class="nav-item d-lg-block d-none dropdown">
                      <a class="nav-tool dropdown-toggle" toggle="dropdown" style="cursor: pointer;">
                        <i class="cxi-profile nav-tool-icon"></i>
                        <span class="nav-tool-label">{{user_lc.nombres}}</span>
                      </a>
                      <div class="dropdown-menu">
    
                        <a [routerLink]="['/cuenta/perfil']" routerLinkActive="active"  class="dropdown-item">
                          <i class="cxi-profile mr-2"></i>
                          Perfil
                          <!-- <span class="badge badge-pill badge-danger ml-2">3</span> -->
                        </a>
                        <a href="#" class="dropdown-item">
                          <i class="cxi-comment mr-2"></i>
                          Messages
                          <span class="badge badge-pill badge-success ml-2">5</span>
                        </a>
                        <a (click)="logout()" class="dropdown-item" style="cursor: pointer;">
                          <i class="cxi-logout mr-2"></i>
                          Cerrar sesión
    
                        </a>
                      </div>
                    </li>
                  </ng-container>
            
            
                <li class="divider-vertical mb-0 d-lg-none d-block"></li>
                <li class="nav-item mb-0">
                  <button class="navbar-toggler mt-n1 mr-n3" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                </li>
              </ul>
            </div>
            <!-- Navbar collapse -->
            <nav class="collapse navbar-collapse order-lg-2" id="navbarCollapse">
              <!-- Search mobile -->
              <div class="input-group-overlay form-group mb-0 d-lg-none d-block">
                <input type="text" class="form-control prepended-form-control rounded-0 border-0" placeholder="Search for products...">
                <div class="input-group-prepend-overlay">
                  <span class="input-group-text">
                    <i class="cxi-search font-size-lg align-middle mt-n1"></i>
                  </span>
                </div>
              </div>
              <!-- Menu -->
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a href="index.html" class="nav-link active">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Tienda</a>
                  <ul class="dropdown-menu">
                    <li><a href="shop-catalog.html" class="dropdown-item">Catálogo con filtros</a></li>
                    <li><a href="shop-single.html" class="dropdown-item">Producto único</a></li>
                    <li><a href="checkout.html" class="dropdown-item">Mis compras</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown mega-dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Categorías</a>
                  <div class="dropdown-menu">
                    <div class="container pt-lg-1 pb-lg-3">
                      <div class="row">
                        <div class="col-lg-2 col-md-3 py-2">
                          <ul class="list-unstyled">
                            <li><a href="#" class="dropdown-item">Nueva colección</a></li>
                            <li><a href="#" class="dropdown-item">Las más vendidas</a></li>
                            <li><a href="#" class="dropdown-item">Talla extra</a></li>
                            <li><a href="#" class="dropdown-item text-danger">Descuento hasta el 70%</a></li>
                          </ul>
                        </div>
                        <div class="col-lg-2 col-md-3 py-2">
                          <h4 class="font-size-sm text-uppercase pt-1 mb-2">Ropa</h4>
                          <ul class="list-unstyled">
                            <li><a href="#" class="dropdown-item">Buzos &amp; Buzos con capucha</a></li>
                            <li><a href="#" class="dropdown-item">Remeras &amp; tops</a></li>
                            <li><a href="#" class="dropdown-item">Pantalones</a></li>
                            <li><a href="#" class="dropdown-item">Jeans</a></li>
                            <li><a href="#" class="dropdown-item">Shorts</a></li>
                            <li><a href="#" class="dropdown-item">Polleras</a></li>
                          </ul>
                        </div>
                        <div class="col-lg-2 col-md-3 py-2">
                          <h4 class="font-size-sm text-uppercase pt-1 mb-2">Zapatos</h4>
                          <ul class="list-unstyled">
                            <li><a href="#" class="dropdown-item">Sandalias</a></li>
                            <li><a href="#" class="dropdown-item">Pantuflas</a></li>
                            <li><a href="#" class="dropdown-item">Ojotas &amp;chancletas</a></li>
                            <li><a href="#" class="dropdown-item">Zapatillas</a></li>
                          </ul>
                        </div>
                        <div class="col-lg-2 col-md-3 py-2">
                          <h4 class="font-size-sm text-uppercase pt-1 mb-2">Accesorios</h4>
                          <ul class="list-unstyled">
                            <li><a href="#" class="dropdown-item">Bolsos &amp; Mochilas</a></li>
                            <li><a href="#" class="dropdown-item">Sombreros &amp; bufandas</a></li>
                            <li><a href="#" class="dropdown-item">Cinturones</a></li>
                            <li><a href="#" class="dropdown-item">Joyería</a></li>
                            <li><a href="#" class="dropdown-item">Relojes</a></li>
                          </ul>
                        </div>
                        <div class="col-lg-1 d-none d-lg-block py-2">
                          <span class="divider-vertical h-100 mx-auto"></span>
                        </div>
                       
                        <div class="col-lg-3 d-none d-lg-block py-2">
                          <!--                        <a href="#" class="d-block text-decoration-none pt-1">
                            <img src="assets/img/ecommerce/megamenu.jpg" class="d-block rounded mb-3" alt="Promo banner">
                            <h5 class="font-size-sm mb-3">De vuelta a la escuela. Descuento hasta 50%</h5>
                            <div class="btn btn-outline-primary btn-sm">
                              Ver ofertas
                              <i class="cxi-arrow-right ml-1"></i>
                            </div>
                          </a>
                          -->
                        </div> 
                      </div>
                    </div>
                  </div>
                </li>
               
              </ul>
            </nav>
          </div>
        </div>
      </header>

          <!-- Promo bar
          <section class="cs-promo-bar bg-primary py-2">
            <div class="container d-flex justify-content-center">
              <div class="cs-carousel cs-controls-inverse">
                <div class="cs-carousel-inner" data-carousel-options = '{"mode": "gallery", "nav": false}'>
                  <div class="font-size-xs text-light px-2">
                    <strong class="mr-1">Hasta un 70% de descuento.</strong>
                    <a href="#" class="text-light">Compre nuestras últimas ofertas de venta</a>
                  </div>
                  <div class="font-size-xs text-light px-2">
                    <strong class="mr-1">Con garantía.</strong>
                    <a href="#" class="text-light">Learn more</a>
                  </div>
                  <div class="font-size-xs text-light px-2">
                    <strong class="mr-1">Atención al cliente amigable.</strong>
                    <a href="#" class="text-light">Contacto 24/7</a>
                  </div>
                </div>
              </div>
            </div>
          </section> -->